body {
    margin: 0;
    background-image: url("dd5168f451400500994fd52e1aa8841c-fotor-202311230216.jpg");
    width: 1260px;
    height: 1000px;
}

a {
    text-decoration: none;
}


.login {
    position: relative;
    height: 100vh;
    width: 190vh;
    display: flex;
    gap: 100px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

.head {
    width: 400px;
    align-self: flex-start;
}

.head h1 {
    font-weight: 900;
    font-size: 88px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', serif;
    text-shadow: 3px 2px #000000;
}

.head p {
    width: 250px;
    text-align: center;
    margin-left: 70px;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-style: italic;
    text-shadow: 5px 5px 10px #ffffff, -5px -5px 20px #ffffff;
    backdrop-filter: blur(2px);

}

.login-form {
    width: 420px;
    position: relative;
    margin-inline: 24px;
    background-color: hsl(0, 0%, 100%, .01);
    border: 2px solid hsla(0, 0%, 0%, 0.7);
    padding: 20px 16px;
    color: black;
    border-radius: 0px;
    backdrop-filter: blur(5px);
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.login-fields,
.login-box {
    display: grid;
}

.login-fields {
    row-gap: 20px;
    margin-bottom: 16px;
}

.login-box {
    grid-template-columns: 1fr max-content;
    column-gap: 12px;
    align-items: center;
    padding-inline: 20px;
    border-radius: 0px;
    border: 2px solid hsla(0, 0%, 0%, 0.7);
}

.login-input,
.login-button,
.password-input {
    border: none;
    outline: none;
}

.login-input, .password-input {
    width: 100%;
    height: 10px;
    background: none;
    color: black;
    padding-block: 20px;
}

.login-input::placeholder {
    color: black;
}

.password-input::placeholder {
    color: black;
}

.login-box i {
    font-size: 20px;
}

.login-button {
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    background-color: #1a3780;
    color: #000000;
    font-weight: 800;
    cursor: pointer;
    border: 2px solid hsla(0, 0%, 0%, 0.7);
}

.check,
.check-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.check {
    margin-bottom: 6px;
    font-size: 13px;

}

.check-box {
    column-gap: 8px;
}

.check-input {
    width: 20px;
    height: 20px;
    accent-color: white;
}

.password-input {
    color: black;
}